body,
html {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

img {
  display: block;
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-section {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  padding: 7.5px 0;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-section .header-top {
  display: flex;
}

.header-section .header-top .nav-menu {
  display: flex;
  align-items: center;
}

.header-section .header-top .nav-menu .nav-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-section .header-top .nav-menu .nav-logo .nav-logo-studio {
  color: #2e2f42;
}

.header-section .header-top .nav-menu .nav-links {
  display: flex;
  gap: 40px;
}

.header-section .header-top .nav-menu .nav-links li .nav-link {
  position: relative;
  text-decoration: none;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-section .header-top .nav-menu .nav-links li .nav-link:focus {
  color: #404bbf;
}

.header-section .header-top .nav-menu .nav-links li .nav-link:hover {
  color: #404bbf;
}

.header-section .header-top .nav-menu .nav-links li .active {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-section .header-top .nav-menu .nav-links li .active::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-section .header-top .info {
  font-style: normal;
  margin-left: 333px;
}

.header-section .header-top .info .info-links {
  display: flex;
  gap: 40px;
}

.header-section .header-top .info .info-links .info-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-section .header-top .info .info-links .info-link:focus {
  color: #404bbf;
}

.header-section .header-top .info .info-links .info-link:hover {
  color: #404bbf;
}

.hero-section {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  padding: 188px 0;
  margin: 0 auto;
}

.hero-section .container .hero-header {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.hero-section .container .hero-button {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section .container .hero-button:hover {
  background-color: #404bbf;
}

.hero-section .container .hero-button:focus {
  background-color: #404bbf;
}

.features-section {
  padding: 120px 0;
}

.features-section .container .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-section .container .features-items {
  display: flex;
  gap: 24px;
}

.features-section .container .features-items .features-item {
  width: calc((100% - 72px) / 4);
}

.features-section .container .features-items .features-item .features-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.features-section .container .features-items .features-item .features-header {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-section .container .features-items .features-item .features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.our-team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.our-team-section .container .our-team-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.our-team-section .container .our-team-items {
  display: flex;
  gap: 24px;
  list-style-type: none;
}

.our-team-section .container .our-team-items .our-team-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-team-section .container .our-team-items .our-team-item .our-team-profile {
  padding: 32px 0;
}

.our-team-section
  .container
  .our-team-items
  .our-team-item
  .our-team-profile
  .our-team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.our-team-section
  .container
  .our-team-items
  .our-team-item
  .our-team-profile
  .our-team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.our-team-section
  .container
  .our-team-items
  .our-team-item
  .our-team-profile
  .social-media {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.our-team-section
  .container
  .our-team-items
  .our-team-item
  .our-team-profile
  .social-media-ellipse {
  width: 40px;
  height: 40px;
}

.our-team-section
  .container
  .our-team-items
  .our-team-item
  .our-team-profile
  .social-media-ellipse
  .social-media-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-section
  .container
  .our-team-items
  .our-team-item
  .our-team-profile
  .social-media-ellipse
  .social-media-link:hover {
  background-color: #404bbf;
}

.our-team-section
  .container
  .our-team-items
  .our-team-item
  .our-team-profile
  .social-media-ellipse
  .social-media-link:focus {
  background-color: #404bbf;
}

.our-team-section
  .container
  .our-team-items
  .our-team-item
  .our-team-profile
  .social-media-ellipse
  .social-media-link
  .icon {
  fill: #f4f4fd;
}

.our-portfolio-section {
  padding: 120px 0;
}

.our-portfolio-section .container .our-portfolio-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.our-portfolio-section .container .our-portfolio-items {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  list-style-type: none;
}

.our-portfolio-section .container .our-portfolio-items .our-portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-section
  .container
  .our-portfolio-items
  .our-portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-portfolio-section
  .container
  .our-portfolio-items
  .our-portfolio-item
  .our-portfolio-img {
  position: relative;
  overflow: hidden;
}

.our-portfolio-section
  .container
  .our-portfolio-items
  .our-portfolio-item:hover
  .our-portfolio-img
  .our-portfolio-p {
  transform: translateY(0%);
  margin: 0;
}

.our-portfolio-section
  .container
  .our-portfolio-items
  .our-portfolio-item
  .our-portfolio-img
  .our-portfolio-p {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-section
  .container
  .our-portfolio-items
  .our-portfolio-item
  .our-portfolio-profile {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.our-portfolio-section
  .container
  .our-portfolio-items
  .our-portfolio-item
  .our-portfolio-profile
  .our-portfolio-app {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.our-portfolio-section
  .container
  .our-portfolio-items
  .our-portfolio-item
  .our-portfolio-profile
  .our-portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer-section {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-section .footer-main {
  display: flex;
  align-items: baseline;
}

.footer-section .footer-main .footer-left {
  margin-right: 120px;
}

.footer-section .footer-main .nav-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.footer-section .footer-main .nav-logo .nav-logo-studio {
  color: #f4f4fd;
}

.footer-section .footer-main .footer-text {
  max-width: 264px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.footer-section .footer-main .footer-center {
}

.footer-section .footer-main .footer-center .footer-sm-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 0 16px 0;
}

.footer-section .footer-main .footer-center .footer-sm {
  display: flex;
  gap: 16px;
}

.footer-section .footer-main .footer-center .footer-sm .sm-ellipse {
  width: 40px;
  height: 40px;
}

.footer-section .footer-main .footer-center .footer-sm .sm-ellipse .sm-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-section
  .footer-main
  .footer-center
  .footer-sm
  .sm-ellipse
  .sm-link:hover {
  background-color: #31d0aa;
}

.footer-section
  .footer-main
  .footer-center
  .footer-sm
  .sm-ellipse
  .sm-link:focus {
  background-color: #31d0aa;
}

.footer-section
  .footer-main
  .footer-center
  .footer-sm
  .sm-ellipse
  .sm-link
  .icon {
  fill: #f4f4fd;
}
